<!DOCTYPE html>
<html lang="en">
  <head>

    <title> Homepage </title>
    
    <% "Use Strict" %>

    <!--This is the home page.
        The end point is / 
        On this page people can see submitted URLs and
        modify their own. -->

  </head>

  <body>
    <% include partials/_header %>
    <h2>Welcome to Tiny App!</h2>
    <h4>(We're the home of the shortest URLs on the Interweb).</h4>
    <hr />
    <div>
    <p>Here is a sample of the URLs people just like YOU have shortened during our short time alive out here in bit-space. You can edit the URLs you submitted here.</p>
    </div>
    
    <div> 
      <% Object.keys(userURLs).forEach(function (elem) { %>

        <% userURLs[elem].forEach(function (url) { %>

          <% if(user_id === elem) { %>
        
          <li>
            <a href="/u/<%=url['shortURL']%>"><%=url['shortURL']%></a>
            - <%=url['longURL'];%> 
            
              <form method="POST" action="/urls/<%=url['shortURL']%>/delete">
              <label for='shortURL'></label>
              <input value="Delete" type="submit" id="shortURL" name="shortURL"></form>
              </form> 
              <button><a href="/urls/<%=url['shortURL']%>">Edit</a></button>
              </li>
          <% } else { %>
          <li>
            <a href="/u/<%=url['shortURL']%>"><%=url['shortURL']%></a>
            - <%=url['longURL'];%> 
          </li>
        <% } %>
      <% }); %> 

      <% }); %>
    </div>
      
    <section>
      <p>Go <a href="/new">here</a> to make your own short URL!</p>
    </section>
  </body>
</html>