<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Index </title>
    <!--This is an index page. It shows the user that their
    new shortURL - longURL pair was added to the database. -->

  </head>
  	<body>
        <% include partials/_header %>
  		<h2>Congrats!</h2>
      <h4>Your new shortened URL was added to the bottom of the following list:</h4>
  		<hr />
  		<div>

  			<div>
  			<% for(var url in urls) { %>
        <li>
        <a href="<%=urls[url]%>"><%=urls[url]%></a> -
        <%=url%> <form method="POST" action="/urls/<%=url%>/delete">
            <button type="delete">Delete</button>
            </form>
            <button><a href="/urls/<%=url%>">Edit</a></button>
          </li>

            <% } %>
  			</div>
  			
        <section>
          <p>Go <a href="/new">here</a> to make your own short URL!</p>
        </section>

  </body>
</html>