<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!--This is a page for displaying URLs in the database.
        The end point is /urls -->

  </head>

  	<body>

  		<h2>Welcome to Tiny App!</h2>
      <h4>(We're the home of the shortest URLs on the Interweb).</h4>

  		<hr />

  		<div>
        <p>Here is a sample of the URLs people just like YOU have shortened during our short time alive out here in bit-space.</p>
      </div>

  			<div>
  			<% for(var url in urls) { %>
  				<li> <a href="/urls/<%=urls[url]%>"> <%=urls[url]%></a> - <%=url%>
            <a href="/urls/<%=url%>"><button type="edit">Edit</button></a>
            <form method="POST" action="/urls/<%=url%>/delete"><button type="delete">Delete</button>
            </form>
             <% } %>
            </li>    
  			</div>

        <hr />

        <section>
          <p>Go <a href="/new">here</a> to make your own short URL!</p>
        </section>

  </body>
</html>